.flashy {
 color: red;
 font-family: cursive;
 font-style: italic;
}
.best {
  color: green;
  font-weight: bolder;
  line-height: 27px;
}
h1 {
  text-align: center;
  font-size: 40px;
}
.ck {
  width: 50%;
  margin: 10px 25%;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.special-cupcake {
  width: 40%;
  margin: 10px 30%;
}

.copyright {
  text-align: center;
  font-weight: bold;
  font-family: arial, helvetica, sans-serif;
}
